
.settings_page_wordpress-security-txt-help {
  div.specification {
    display: inline-flex;
    background-color: #d3d3d3;
    padding: 1.5em;
    overflow: scroll;
    height: 25em;
  }
  ul li {
    list-style: disc;
    margin-left: 1.5em;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.wrap-radios {
  max-height: 175px;
  overflow-y: scroll;
}

.settings_page_wordpress-security-txt {

  form[id="wordpress-security-txt[file_input]"] {
    display: none;
  }

  div[id="wordpress-security-txt-sections[debug]"] {
    ul {
      list-style: square;
      padding-left: 3em;
    }
    ul[id="wordpress-security-txt-sections[debug][database]"] strong {
      font-family: Consolas,Monaco,monospace;
      unicode-bidi: embed;
      color: #693;
    }
    ul em {
      color: #369;
    }
  }

  .error {
    border-color: #ff1493;
    background-color: #ffb6c1;
  }

  .repeater {
    box-sizing 		: border-box;
    margin-bottom 	: 1em;
    width 			: 100%;

    & * {
      box-sizing: border-box;
    }

    .handle,
    .repeater-content {
      border 		: 1px solid #ddd;
      padding 	: 0.75em;
    }

    .repeater-content {
      border-top: none;
      display: flow-root;
    }

    .wrap-field {
      float: left;
      padding-right: 5em;
    }

    .handle {
      background-color: #fafafa;
      cursor 			: move;
      overflow 		: auto;
      position		: relative;
      width 			: 100%;
    }

    .btn-edit {
      background 		: none;
      border 			: none;
      border-radius 	: 0;
      box-shadow 		: none;
      cursor 			: pointer;
      height 			: 100%;
      margin 			: 0;
      outline 		: 0;
      overflow 		: hidden;
      padding 		: 0;
      position 		: absolute;
      right 			: 0;
      top 			: 0;
      width 			: 30px;
    }

    .toggle-arrow {
      color 					: #a0a5aa;
      display 				: inline-block;
      font-family 			: dashicons;
      font-size 				: 20px;
      font-style 				: normal;
      font-weight 			: 400px;
      height 					: 20px;
      line-height 			: 1;
      text-align 				: center;
      text-decoration 		: inherit;
      transition 				: 0.4s ease;
      vertical-align 			: top;
      -webkit-font-smoothing 	: antialiased;
      width 					: 20px;

      &:before {
        content: "\f142";
      }

      &.closed:before {
        content: "\f140";
      }
    }

    .link-remove {
      color			: #a00;
      text-decoration : none;
      float: right;
      position: relative;
      top: 0.5em;

      &:hover {
        color 			: red;
        text-decoration : underline;
      }
    }

    #upload-file {
      display 	: block;
      text-align 	: right;
    }
  }

  .repeater-more {
    text-align: right;
  }
}

@media screen and (max-width: 782px) {
  input[type=file],
  input[type=url] {
    -webkit-appearance 	: none;
    padding 			: 6px 10px;
  }
}
